*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'montserrat', sans-serif;
  color: #515076;
  width: 1110px;
  background-image: url("img/dandelions_bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.compound__list {
  font-size: 13px;
}

.compound__name {
  display: block;   
}