*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'montserrat', sans-serif;
  color: #515076;
  width: 1110px;
  background-image: url("img/dandelions_bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.title {
  font-size: 70px;
  font-weight: 400;
  text-align: center;
  line-height: 78px;
  margin-top: 220px;
  margin-bottom: 110px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.catalog__title {
  margin-top: 220px;
  margin-bottom: 110px;
}

#product-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
}

.card {
  background-color: #f7f7fa;
  display: block;
  width: 340px;
  padding: 25px;
}

.card__category {
  display: block;
  line-height: 24px;
  margin-top: 30px;
  color: #a5a3b9;
  margin-bottom: 5px;
}

.card__title {
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 5px;
}

.card__description {
  line-height: 18px;
  margin-bottom: 15px;
  font-size: 13px;
}

.compound__list {
  font-size: 13px;
}

.compound__name {
  display: block;   
}

.card__price-block {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.card__price {
  font-size: 20px;
  line-height: 24px;
}

.card__value {
  font-size: 20px;
  line-height: 24px;
}

.color-toggle-button {
  background-color: #d4c9f2;
}

.color-toggle-button-active {
  background-color: #515076;
}